[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pytest = "*"
yfinance = "*"
plotly = "*"
kaleido = "*"
pydantic = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
ruff = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
